body{
    background-color: #ccd897;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.tile{
    display: flex;
    height: 80px;
    width: 80px;
}

.divLine{
    display: flex;
}
.path{
    height: 80px;
    width: 80px;
    background-color: #E1E1E1;
	background-image: url(img/paves.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.wall{
    height: 80px;
    width: 80px;
    background-color: #E1E1E1;
	background-image: url(img/champ.jpg);
	background-position: left;
	background-size: cover;
}

.hero{
    height: 80px;
    width: 80px;
    background-color: #E1E1E1;
    background-image: url(img/girl.jpg);
	background-position: left;
	background-size: cover;
}
.starting{
    background-image: url(img/paves.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.treasure{
    height: 80px;
    width: 80px;
    background-color: #E1E1E1;
    background-image: url(img/gars.jpg);
	background-position: left;
	background-size: cover;
}


